/* import external font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --nav-height: 3rem;

    --neutral-color-lightest: 250 250 250;
    --neutral-color-lighter: 245 245 245;
    --neutral-color-light: 229 229 229;
    --neutral-color-midst: 115 115 115;
    --neutral-color-heavy: 82 82 82;
    --neutral-color-heavier: 64 64 64;
    --neutral-color-heaviest: 38 38 38;
    --primary-color: 128 179 151;
  }
}